{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}
{% load mathfilters %}

{% block page-title %}
<title>{{ preamble.name }}</title>
{% endblock %}

{% block top-left-actions %}
{% if round.slug != intro_round_slug %}
{% if team and team.division == 0 and round.selection_stage %}
<p class="content roman">Choose whether to go back as a novice or advanced division. <b>YOU CAN ONLY CHOOSE THIS ONCE.</b></p>
<a href="{% url 'novice' round.slug %}" class="btn">Back to {{ round.name }} as novice</a>
<a href="{% url 'advanced' round.slug %}" class="btn">Back to {{ round.name }} as advanced</a>
{% else %}
<a href="{% url 'round' round.slug %}" class="btn">{{ round.name }}</a>
{% endif %}
{% endif %} 
{% endblock %}

{% block content %}

<h1>
    {{ preamble.name }}
</h1>

<main class="puzzle-main clipboard-container">
    {% for erratum in visible_errata %}
    {% if erratum.puzzle == puzzle and erratum.puzzle_text %}
    <div class="puzzle-erratum">
        {% if not erratum.published %}
        <strong>[<a href="{% url 'admin:puzzles_erratum_change' erratum.id %}">{% translate "UNPUBLISHED" %}</a>]</strong>
        {% endif %}
        {% format_time erratum.timestamp "DATE_AT_TIME" as hint_time %}
        {% blocktranslate %}On {{ hint_time }}{% endblocktranslate %},
        {{ erratum.puzzle_text|safe }}
    </div>
    {% endif %}
    {% endfor %}

    {% puzzleblock puzzle-body %}
    {% if puzzle_body %}{{ puzzle_body }}{% elif template_name %}
    {% blocktranslate %}This preamble doesn&rsquo;t seem to exist yet.
    Searched for a preamble template named <code>{{ template_name }}</code>{% endblocktranslate %}
    {% else %}
    {% translate "This preamble template exists, but it doesn&rsquo;t seem to define a preamble content block. Check the post production guide?" %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-desc">
            You have 1000 guesses remaining for this puzzle.
        </div>
        {{ form.non_field_errors }}
    </form>
</main>

{% endblock %}
