asgiref==3.7.2
channels==4.0.0
channels-redis==4.1.0
Django==4.2.6
django-impersonate==1.9.1
django-mathfilters==1.0.0
django-ratelimit==4.1.0
django-redis==5.4.0
gevent==23.9.1
greenlet==3.0rc3
gunicorn==21.2.0
Markdown==3.5
py-cord==2.0.0rc1
requests==2.31.0
Twisted==23.8.0
uvicorn[standard]==0.23.2
dj-database-url==2.1.0  # Add this
whitenoise==6.5.0      # Add this for static files